/* Variables CSS para facilidad de mantenimiento */
:root {
    --color-principal: #0b1721;
    --color-secundario: #132636;
    --color-texto: #ffffff;
    --color-titulo: red;
    --font-size-h1: 2.5rem;
    --font-size-p: 1.25rem;
    --font-size-table: 1rem;
    --padding-base: 0px;
    --border-radius: 25px;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: var(--padding-base);
}

h1 {
    text-align: center;
    font-size: var(--font-size-h1);
    color: var(--color-titulo);
    margin-bottom: var(--padding-base);
    font-weight: bold;
}

p {
    text-align: center;
    font-size: var(--font-size-p);
    color: var(--color-texto);
    line-height: 1.5;
    margin: 0;
    padding: 5px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border-radius: var(--border-radius);
    overflow: hidden; /* Redondear esquinas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para la tabla */
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: var(--font-size-table);
    border-bottom: 1px solid #1d3a52;
}

th {
    background-color: #2ecece;
    color: var(--color-texto);
    font-weight: bold;
}

td {
    background-color: var(--color-secundario);
}

tr:last-child td {
    border-bottom: none; /* Sin borde inferior en la última fila */
}

/* Sombra y efecto hover en filas */
tr:hover td {
    background-color: #1d3a52;
}

/* Cuadro de fondo */
.cuadrado_result {
    width: 100%;
    max-width: 500px;
    height: 750px;
    background: var(--color-secundario);
    position: absolute;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(3%);
}

.separador {
    height: 20px;
}

/* Botón */
#btn {
    width: 100%;
    height: 40px;
    background-color: #2ecece;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#btn:hover {
    background-color: #25b2b2;
}
